<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloom</title>
    <script src="https://kit.fontawesome.com/1d62c0dc9b.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="//db.onlinewebfonts.com/c/93383e2216fcd1de37a850bf5d100898?family=Foundry+Monoline" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" href="/public/style.css">
</head>

<body>
    <main>
        <div class="nav">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-12">
                        <div class="logo">
                            <img src="/img/logo_cloom.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-12">
                        <ul>
                            <li>ABOUT</li>
                            <li>MAKERS</li>
                            <li>GITHUB</li>
                            <li>BETA</li>
                        </ul>
                    </div>
                    <div class="button">
                        <button onclick="location.href='/login';">
                            Log in
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-sm-11">
                        <h3>Cloom</h3><p><b>is now on beta.</b><br><br> What is cloom? In simple terms, it is a cloud based video sharing application. Cloom is an attempt to create an open source video conferencing application for schools targetted with custom features including custom roll calls, and automatic class management per scheduling. This application is built for educational purposes to learn how a real-time video conferecing application is made. Join the beta program to test the application or visit the github to apply for contribution!</p>
                        <br><a href="mailto:techclubdpsrpk@gmail.com"><span>Request beta access</span> <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>