<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoom Clone | Made by Aten & Ribu</title>
    <script src="https://kit.fontawesome.com/1d62c0dc9b.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/main/style.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="row justify-content-center text-center">
                <div>
                    <img id="logo" src="/img/logo.png" alt="">
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row justify-content-center">
            <div style="width: 420px;">
                <div class="row">
                    <p id="tag-form">Enter meeting password</p>
                </div>
                <div class="row">
                    <input type="password" placeholder="Your password" name="password" id="password">
                </div>
                <div class="row">
                    <button onclick="JoinSharedMeeting()">Go &nbsp;<i class="fas fa-arrow-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    const LOGGED_IN = <%= loggedIn %>;
    MEETING_ID = <%= id %>;
    function JoinSharedMeeting() {
        const id = MEETING_ID;
        const pwd = $("#password").val();
        if (isEmpty(id) || isEmpty(pwd)) return alert("ID or Password cannot be empty");
        axios({
            method: 'post',
            url: '/join/meeting',
            data: {
                id: id,
                pwd: pwd
            }
        })
            .then((response) => {
                return window.location.replace(response.data);
            }, (error) => {
                if (response.data != 500) return alert("Invalid Meeting ID or password!");
            })
    }
</script>
<script src="/main/main.js"></script>

</html>