<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoom Clone | Made by Aten & Ribu</title>
    <script src="https://kit.fontawesome.com/1d62c0dc9b.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="../main/style.css">
    <script>
    
    </script>
</head>

<body>
    <header>
        <div class="container">
            <div class="row justify-content-center text-center">
                <div>
                    <img id="logo" src="../img/logo.png" alt="">
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row justify-content-center">
            <form action="/admin/register/server" method="POST">
                <div class="row justify-content-center">
                    <input type="text" name="f_name" placeholder="First name" style="width: 205px !important; margin-right: 5px !important;" >
                    <input type="text" name="l_name" placeholder="Last name" style="width: 205px !important; margin-left: 5px !important;">
                </div>
                <div class="row">
                    <input type="email" name="email" placeholder="Email address">
                </div>
                <div class="row">
                    <input type="password" name="password" placeholder="Password">
                </div>
                <div class="row">
                    <button type="submit">Register an account</button>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="../main/main.js"></script>

</html>